<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogustine Writekower</title>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/all_posts.css">
</head>
<body>
    <header>
        <h1>Blogustine Writekower</h1>
    </header>
    <div class="container-outer">
        {{ if gt (len .Posts) 0 }}
            <div class="main-post">
                <a href="/posts/{{ (index .Posts 0).ID }}" class="post-link">
                <div class="main-image">
                    <img src="{{ (index .Posts 0).ImageURL }}" alt="{{ (index .Posts 0).Title }}">
                </div>
                <div class="main-title">
                    <h2>{{ (index .Posts 0).Title }}</h2>
                </div>
                </a>
            </div>
            <div class="posts">
                {{ range $index, $post := .Posts }}
                    {{ if gt $index 0 }}
                    <a href="/posts/{{ $post.ID }}" class="post">
                        <div>
                            <h2>{{ $post.Title }}</h2>
                            <p>{{ $post.Content }}</p>
                        </div>
                        <img src="{{ $post.ImageURL }}" alt="{{ $post.Title }}">
                    </a>
                    {{ end }}
                {{ end }}
            </div>
        {{ else }}
            <p>No posts available</p>
        {{ end }}
    </div>
    <footer>
        <p>&copy; Augblog</p>
    </footer>
</body>
</html>
